<!DOCTYPE html>
<html>
	<head>
		<title>Test Michael Bonato</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
	</head>
	<body>
		<div id="app">
			<header>
				<div class="title">
					<span>découvrez les offres du moment</span></br>
					vol + hôtel jusqu'a - 70%
				</div>
				<select id="country__selector">
					<option v-for="country in countries" :value="country.tag">{{country.name}}</option>
				</select>
			</header>
			<section>
				<div class="main-wrapper">

					<div v-for="detail in details" :key="detail.detailID" :class="detail.detailClass" class="offer--block">
						<div class="swiper-container">
							<div class="reduction">{{detail.reduction}}</div>
						    <div class="swiper-wrapper">
						    	<div v-for="images in detail.image" :key="images.number" :class="images.tag" class="swiper-slide"></div>
						    </div>
						    <div class="swiper-button-next"></div>
						    <div class="swiper-button-prev"></div>
						</div>
						<div class="info">
							<div class="country">{{detail.destination}}</div>
							<div class="hotel">{{detail.hotel}}</div>
							<div v-for="stars in detail.star" class="star--rating"></div>
						</div>
						<div class="tag">
							<div class="info--first">{{detail.black}}</div>
							<div class="info--second">{{detail.gold}}</div>
						</div>
					</div>
					
				</div>
			</section>
			<footer>
				<div class="block--reduction">
					comment bénéficier de l'offre ?</br><b>150€ de réduction* dès 1000€ d'achat</b>
				</div>
				<div class="block--member">
					<span>Déjà membre ?</span></br>Votre code promo vous attend directement sur le site <a href="#">en cliquant ici</a>
				</div>
				<div class="block--step">
					<div class="step--container">
						<div class="step">
							<span class="number">1</span>
							rejoignez
							<span>emirates | the list</span>
						</div>
					</div>
					<div class="step--container">
						<div class="step">
							<span class="number">2</span>
							recevez par email
							<span>votre bon de 150€ offert</span>
							à utiliser dès 1000€ d'achat
						</div>
					</div>
					<div class="step--container">
						<div class="step">
							<span class="number">3</span>
							réservez votre séjour
							<span>avant le 30 avril 2019</span>
						</div>
					</div>
				</div>
				<button>je m'inscris</button>
			</footer>
			<div class="sticker--bottom">
				rejoignez <b>emirates | the list</b></br>
				vol + hôtel négociés jusqu'à - 70%
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
	<script src="script/script.js"></script>
</html>