$path : "../fonts/";
$font-file : SevenOneEight-Black, SevenOneEight-Book, SevenOneEight-ExtraBold, SevenOneEight-Light, SevenOneEight-Medium;

@each $font in $font-file {
	@font-face {
	font-family: '#{$font}';
	src: url("#{$path}" + $font +".ttf") format('truetype');
	}
}