@mixin button--style {
	padding: 1rem;
	background-color: $red;
	border:0;
	color: $text-white;
}

@mixin vertical--bar {
	content:'';
	display:block;
	position: absolute;
	left:0;
	right:0;
	margin: 0 auto;
	bottom: 2rem;
	width:8rem;
	height:0.6rem;
}