@font-face {
  font-family: "SevenOneEight-Black";
  src: url("../fonts/SevenOneEight-Black.ttf") format("truetype");
}
@font-face {
  font-family: "SevenOneEight-Book";
  src: url("../fonts/SevenOneEight-Book.ttf") format("truetype");
}
@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "SevenOneEight-Light";
  src: url("../fonts/SevenOneEight-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("../fonts/SevenOneEight-Medium.ttf") format("truetype");
}
html {
  font-size: 62.5%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "SevenOneEight-Medium";
  margin: 0;
  background-color: #efefef;
  animation: fadein 1s;
}
body > div {
  max-width: 234rem;
  margin: 0 auto;
}
header {
  padding: 1.5rem 1.2rem 0;
  text-align: center;
  text-transform: uppercase;
}
header .title {
  position: relative;
  font: 1.6rem "SevenOneEight-Medium";
  padding: 0 0 3rem;
}
header .title span {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e23022;
}
header .title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2rem;
  width: 8rem;
  height: 0.6rem;
  background-color: #333;
}
header select {
  position: relative;
  padding: 1rem 1rem 1rem 3rem;
  margin-bottom: 3rem;
  border: 0.1rem solid #333;
  color: #333;
  text-transform: uppercase;
}
section .main-wrapper {
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
@media (min-width: 48rem) {
  section .main-wrapper {
    flex-direction: row;
  }
}
section .offer--block {
  width: calc(100% - 4rem);
  height: 31rem;
  margin: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
section .offer--block:hover {
  -webkit-box-shadow: 0rem 0rem 1.5rem 0rem #e23022;
  -moz-box-shadow: 0rem 0rem 1.5rem 0rem #e23022;
  box-shadow: 0rem 0rem 1.5rem 0rem #e23022;
}
@media (min-width: 48rem) {
  section .offer--block {
    width: calc(33% - 4rem);
  }
}
section .swiper-container {
  height: 20rem;
}
section .swiper-container .image--one {
  background: url(../images/CLOS_DU_LITTORAL.png) no-repeat center;
}
section .swiper-container .image--two {
  background: url(../images/ECHAPEE_SRI_LANKAISE.png) no-repeat center;
}
section .swiper-container .image--three {
  background: url(../images/ENTRE_CULTURE_ET_PLAGES.png) no-repeat center;
}
section .swiper-container .image--four {
  background: url(../images/FAIRMONT_DUBAI.png) no-repeat center;
}
section .swiper-container .image--five {
  background: url(../images/HYATT_REGENCY_CREEK.png) no-repeat center;
}
section .swiper-container .image--six {
  background: url(../images/IMPIANA_RESORT_SAMUI.png) no-repeat center;
}
section .swiper-container .image--seven {
  background: url(../images/JAPON.png) no-repeat center;
}
section .swiper-container .image--height {
  background: url(../images/LAGUNA_BEACH.png) no-repeat center;
}
section .swiper-container .image--nine {
  background: url(../images/NOKU_MALDIVES.png) no-repeat center;
}
section .swiper-container .image--ten {
  background: url(../images/STHALA_MARC_PATRA.png) no-repeat center;
}
section .swiper-container .swiper-slide {
  background-size: cover;
}
section .swiper-container .reduction {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  font: 2rem "SevenOneEight-ExtraBold";
  z-index: 1000;
}
section .info {
  max-width: calc(100% - 5rem);
  position: relative;
  padding: 1rem 0 1rem 1rem;
  min-height: 6rem;
}
section .info .country {
  font: 1.6rem "SevenOneEight-Medium";
  color: #000;
}
section .info .hotel {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font: 1.2rem "SevenOneEight-Light";
  color: #787878;
}
section .info .star--rating {
  display:inline-block;
  position: relative;
  top: 0.4rem;
  margin-right:0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/star.png) no-repeat center;
  background-size: contain;
}
@media (min-width: 48rem) {
  section .info .star--rating {
    width: 2.4rem;
    height: 2.4rem;
  }
}
section .info:before {
  content: "";
  position: absolute;
  right: -3rem;
  top: 2rem;
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../images/icone--arrow.png) no-repeat center;
}
section .tag {
  width: 100%;
  padding: 0 1rem 1rem;
}
section .tag .info--first, section .tag .info--second {
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font: 1rem "SevenOneEight-Light";
}
section .tag .info--first {
  margin-right: 1rem;
  background-color: #000;
}
section .tag .info--second {
  background-color: #bd9c6a;
}
footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 1.2rem 4rem;
}
@media (min-width: 48rem) {
  footer {
    padding: 2rem 0 4rem;
  }
}
footer .block--reduction {
  position: relative;
  padding: 0 0 3.2rem;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font: 1.6rem "SevenOneEight-Medium";
}
footer .block--reduction:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2rem;
  width: 8rem;
  height: 0.6rem;
  background-color: #333;
}
footer .block--member {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #e23022;
  color: #fff;
  font: 1.6rem "SevenOneEight-Medium";
  text-align: center;
  line-height: 2rem;
}
@media (min-width: 48rem) {
  footer .block--member {
    padding: 4rem;
  }
}
footer .block--member span {
  font-size: 1.8rem;
}
footer .block--member a {
  color: #fff;
  font: 1.6rem;
  font-weight: 700;
  text-decoration: underline;
}
footer .block--step {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem 0;
}
@media (min-width: 48rem) {
  footer .block--step {
    flex-direction: row;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
    padding: 4rem 0;
  }
}
footer .block--step .step--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 4rem);
  max-width: 30rem;
  margin: 0 auto;
  font: 1.6rem "SevenOneEight-Medium";
  text-transform: uppercase;
}
footer .block--step .step--container .step {
  position: relative;
  padding: 0 0 4rem 3rem;
}
footer .block--step .step--container .step:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2rem;
  height: 2.8rem;
  background-color: #333;
  left: 1rem;
  top: 6rem;
}
@media (min-width: 48rem) {
  footer .block--step .step--container .step {
    max-width: 25rem;
    padding: 0 0 0 3rem;
    margin: 0 auto;
  }
  footer .block--step .step--container .step:before {
    display: none;
  }
}
footer .block--step .step--container .step span {
  display: block;
  font-family: "SevenOneEight-Book";
  color: #e23022;
}
footer .block--step .step--container .step span.number {
  position: absolute;
  height: 6rem;
  top: calc(50% - 5rem);
  left: -0.5rem;
  font-family: "SevenOneEight-ExtraBold";
  font-size: 5rem;
}
@media (min-width: 48rem) {
  footer .block--step .step--container .step span.number {
    top: calc(50% - 3rem);
    left: -0.5rem;
  }
}
footer .block--step .step--container:last-child .step:before {
  display: none;
}
footer button {
  padding: 1rem;
  background-color: #e23022;
  border: 0;
  color: #fff;
  width: 24rem;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
footer button:hover {
  width: calc(24rem - 0.4rem);
  height: calc(100% - 0.4rem);
  border: 2px solid #e23022;
  background-color: #fff;
  color: #e23022;
}
.sticker--bottom {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: #333;
  padding: 2rem 1rem 3rem;
  font-family: "SevenOneEight-Medium";
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.sticker--bottom:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2rem;
  width: 8rem;
  height: 0.6rem;
  background-color: #e23022;
}
@media (min-width: 48rem) {
  .sticker--bottom:before {
    width: 20rem;
  }
}