@import 'var', 'font', 'mixin';
html {
	font-size: 62.5%;
}
@keyframes fadein {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
body {
	font-family: "SevenOneEight-Medium";
	margin:0;
	background-color: $background;
	animation: fadein 1s;
	& > div {
		max-width: 234rem;
		margin: 0 auto;
	}
}
header {
	padding: 1.5rem 1.2rem 0;
	text: {
		align: center;
		transform: uppercase;
	}
	.title {
		position: relative;
		font: 1.6rem "SevenOneEight-Medium";
		padding: 0 0 3rem;
		span {
			font-size: 1.8rem;
			font-weight: 700;
			color: $red;
		}
		&:before {
			@include vertical--bar;
			background-color: $border;
		}
	}
	select {
		position :relative;
		padding: 1rem 1rem 1rem 3rem;
		margin-bottom: 3rem;
    	border: 0.1rem solid $font-text;
    	color: $font-text;
   		text-transform: uppercase;
	}
}
section {
	.main-wrapper {
		max-width: 160rem;
		margin: 0 auto;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		@media (min-width: 48rem) {
			flex-direction: row;
		}
	}
	.offer--block {
		width: calc(100% - 4rem);
		height: 31rem;
		margin: 2rem;
		background-color: $text-white;
		border-radius: 0.5rem;
		&:hover {
		    -webkit-box-shadow: 0rem 0rem 1.5rem 0rem $red;
		    -moz-box-shadow: 0rem 0rem 1.5rem 0rem $red;
		    box-shadow: 0rem 0rem 1.5rem 0rem $red;
		}
		@media (min-width: 48rem) {
			width: calc(33% - 4rem);
		}
	}
	.swiper-container {
		height: 20rem;
		.image--one {
			background: url(#{$background--image--one}) no-repeat center;
		}
		.image--two {
			background: url(#{$background--image--two}) no-repeat center;
		}
		.image--three {
			background: url(#{$background--image--three}) no-repeat center;
		}
		.image--four {
			background: url(#{$background--image--four}) no-repeat center;
		}
		.image--five {
			background: url(#{$background--image--five}) no-repeat center;
		}
		.image--six {
			background: url(#{$background--image--six}) no-repeat center;
		}
		.image--seven {
			background: url(#{$background--image--seven}) no-repeat center;
		}
		.image--height {
			background: url(#{$background--image--height}) no-repeat center;
		}
		.image--nine {
			background: url(#{$background--image--nine}) no-repeat center;
		}
		.image--ten {
			background: url(#{$background--image--ten}) no-repeat center;
		}
		.swiper-slide {
			background-size:cover;
		}
		.reduction {
			position: absolute;
    		bottom: 2rem;
    		right: 2rem;
    		color: #fff;
			font: 2rem 'SevenOneEight-ExtraBold';
			z-index: 1000;
		}
	}
	.info {
		max-width: calc(100% - 5rem);
		position: relative;
		padding: 1rem 0 1rem 1rem;
		min-height: 6rem;
		.country {
			font: 1.6rem 'SevenOneEight-Medium';
			color: $text-black;
		}
		.hotel {
			display: inline-block;
			padding: 0.5rem 0.5rem 0.5rem 0;
			font: 1.2rem 'SevenOneEight-Light';
			color: $text-hotel;
		}
		.star--rating {
			display:inline-block;
			position: relative;
    		top: 0.4rem;
			margin-right:0.2rem;
			width: 1.4rem;
			height: 1.4rem;
			background: url(#{$starating-background}) no-repeat center;
			background-size: contain;
			@media (min-width: 48rem) {
				width: 2.4rem;
				height: 2.4rem;
			}
		}
		&:before {
			content:'';
			position:absolute;
			right:-3rem;
			top:2rem;
			display:block;
			width:3rem;
			height:3rem;
			background: url(#{$arrow-blockinfo}) no-repeat center;
		}
	}
	.tag {
		width: 100%;
		padding: 0 1rem 1rem;
		.info--first, .info--second {
		display: inline-block;
		padding: 0.5rem;
		color: $text-white;
		text-transform: uppercase;
		font: 1rem 'SevenOneEight-Light';
		}
		.info--first {
			margin-right: 1rem;
			background-color: $text-black;
		}
		.info--second {
			background-color: $info--second;
		}
	}
}
footer {
	display: flex;
	flex-flow: column nowrap;
	padding: 2rem 1.2rem 4rem;
	@media (min-width: 48rem) {
		padding: 2rem 0 4rem;
	}
	.block--reduction {
		position:relative;
		padding: 0 0 3.2rem;
		color: $font-text;
		text: {
			align: center;
			transform: uppercase;
		}
		font: 1.6rem "SevenOneEight-Medium";
		&:before {
			@include vertical--bar;
			background-color: $border;
		}
	}
	.block--member {
		padding: 1rem 2rem;
		border-radius: 0.5rem;
		background-color: $red;
		color: $text-white;
		font:1.6rem "SevenOneEight-Medium";
		text-align: center;
		line-height: 2rem;
		@media (min-width: 48rem) {
			padding: 4rem;
		}
		span {
			font-size:1.8rem;
		}
		a {
			color: $text-white;
			font: 1.6rem;
			font-weight: 700;
			text-decoration : underline;
		}
	}
	.block--step {
	    display: flex;
    	flex-flow: column nowrap;
		justify-content: center;
		padding: 2rem 0;
		@media (min-width: 48rem) {
			flex-direction : row;
			width:100%;
			max-width: 160rem;
			margin: 0 auto;
			padding: 4rem 0;
		}
		.step--container {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
			width:calc(100% - 4rem);
			max-width:30rem;
			margin: 0 auto;
			font: 1.6rem "SevenOneEight-Medium";
			text-transform: uppercase;
			.step {
				position: relative;
				padding: 0 0 4rem 3rem;
				&:before {
					content:'';
					display:block;
					position:absolute;
					width:0.2rem;
					height: 2.8rem;
					background-color: $border;
					left: 2rem;
    				top: 5rem;
				}
				@media (min-width: 48rem) {
					max-width: 25rem;
    				padding: 0 0 0 3rem;
    				margin: 0 auto;
					&:before {
						display:none;
					}
				}
				span {
					display:block;
					font-family: "SevenOneEight-Book";
					color: $red;
					&.number {
						position: absolute;
	    				height: 6rem;
	    				top: calc(50% - 5rem);
	    				left: -0.5rem;
	    				font:{ 
	    					family: "SevenOneEight-ExtraBold";
	    					size:5rem;
	    				}
	    				@media (min-width: 48rem) {
							top: calc(50% - 3rem);
							left: -0.5rem;
						}
					}
				}
			}
			&:last-child .step:before {
					display: none;
				}
		}
	}
	button {
		@include button--style;
		width: 24rem;
		align-self: center;
		text: {
			align: center;
			transform: uppercase;
		}
		&:hover {
		  	width: calc(24rem - 0.4rem);
  			height: calc(100% - 0.4rem);
  			border: 2px solid $red;
  			background-color: $bloc-background;
  			color: $red;
		}
	}
}
.sticker--bottom {
	position: sticky;
	bottom:0;
	z-index:1000;
	background-color: $border;
	padding: 2rem 1rem 3rem;
	font: {
		family: "SevenOneEight-Medium";
		size: 1.6rem;
	}
	color: $text-white;
	line-height:2rem;
	text: {
		align: center;
		transform : uppercase;
	}
	&:before {
		@include vertical--bar;
		background-color: $red;
		@media (min-width: 48rem) {
			width:20rem;
		}
	}
}


@media (min-width: 48rem) {
	
}