$background : #efefef;
$bloc-background: #fff;
$luxe: #000;
$info--second: #bd9c6a;
$red: #e23022;
$border: #333;

$font-title: #d92e22;
$font-text: #333;
$text-white: #fff;
$text-black: #000;
$text-hotel :#787878;

$arrow-blockinfo: "../images/icone--arrow.png";
$starating-background: "../images/star.png";
$background--image--one: "../images/CLOS_DU_LITTORAL.png";
$background--image--two: "../images/ECHAPEE_SRI_LANKAISE.png";
$background--image--three: "../images/ENTRE_CULTURE_ET_PLAGES.png";
$background--image--four: "../images/FAIRMONT_DUBAI.png";
$background--image--five: "../images/HYATT_REGENCY_CREEK.png";
$background--image--six: "../images/IMPIANA_RESORT_SAMUI.png";
$background--image--seven: "../images/JAPON.png";
$background--image--height: "../images/LAGUNA_BEACH.png";
$background--image--nine: "../images/NOKU_MALDIVES.png";
$background--image--ten: "../images/STHALA_MARC_PATRA.png";
